.content {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Poppins, Helvetica, sans-serif;
	text-align: center;
	background-color: #f7f7f7;
}

.presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.presentation__img {
	width: 200px;
	height: 200px;
	background-color: #ddd;
	border-radius: 50%;
}

.presentation__text-section {
	width: 60%;
}

.presentation__name {
	font-size: 4rem;
	color: #8194f5;
}

.presentation__subtitle {
	font-size: 1.3rem;
	color: #8194f588;
}

.presentation__subtitle span {
	color: #41e2ba;
}

.presentation__description {
	font-size: 1.1rem;
	font-weight: 500;
	color: #333;
	margin-top: 12px;
}

.presentation__link {
	text-decoration: none;
	font-weight: 700;
	padding: 20px 50px;
	border-radius: 50px;
	color: #333;
	border: 2px solid #8194f5;
}

.presentation__link:hover {
	background-color: #8194f5;
	color: white;
	box-shadow: 0 5px 10px 0 #8194f5aa;
}

.icons__section {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
}

#github-icon:hover {
	fill: #24292f;
}

/* LinkedIn & Frontend Mentor */
.icons__img {
	filter: grayscale(100%);
	transition: filter 0.2s;
}

.icons__img:hover {
	filter: none;
	transition: filter 0.4s;
}

/* contact */
.contact-section {
	min-height: 100vh;
}

.contact__title {
	font-size: 2rem;
	color: #8194f5;
}

.form-area {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 20px;
	padding: 50px;
	box-shadow: 0 10px 10px #00000033;
}

.form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

/* inputs*/
.input-area {
	width: 100%;
}

.form__label {
	display: block;
	text-align: left;
	color: #888;
}

.form__input {
	width: 100%;
	padding: 5px 5px;
	border-radius: 4px;
	outline: none;
	border: 1px solid lightgray;
}

.form__input:focus {
	outline: none;
	border: 1px solid #41e2ba;
}

.form__textarea {
	padding: 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
	resize: none;
	outline: none;
	border: 1px solid lightgray;
}

.form__textarea:focus {
	border: 1px solid #41e2ba;
}

.form__msg-status--ok {
	color: #41e2ba;
}

.form__submit {
	padding: 10px;
	font-weight: 700;
	padding: 20px 50px;
	border-radius: 50px;
	color: #333;
	border: 2px solid #8194f5;
}

.form__submit:hover {
	background-color: #8194f5;
	color: white;
	box-shadow: 0 5px 10px 0 #8194f5aa;
}
