.content {
	align-items: center;
	background-color: #f7f7f7;
	display: flex;
	font-family: Poppins, Helvetica, sans-serif;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
	width: 100%;
}

.presentation {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 700px;
}

.presentation__img-section {
	background-color: #eeeeee;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	overflow: hidden;
}

.presentation__img {
	width: 200px;
	height: 200px;
}

@media (max-width: 580px) {
	.presentation__img-section {
		height: 150px;
		width: 150px;
	}

	.presentation__img {
		width: 150px;
		height: 150px;
	}
}

.presentation__text-section {
	min-width: 550px;
	width: 60%;
}

.presentation__name {
	color: #8194f5;
	font-size: 4rem;
	line-height: 4.5rem;
}

.presentation__subtitle {
	color: #8194f588;
	font-size: 1.3rem;
}

.presentation__subtitle span {
	color: #41e2ba;
}

.presentation__description {
	color: #333;
	font-size: 1.1rem;
	font-weight: 500;
	margin-top: 16px;
}

.presentation__link {
	border: 2px solid #8194f5;
	border-radius: 50px;
	color: #333;
	font-weight: 700;
	padding: 20px 50px;
	text-decoration: none;
}

.presentation__link:hover {
	background-color: #8194f5;
	box-shadow: 0 5px 10px 0 #8194f5aa;
	color: white;
}

.icons__section {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 40%;
}

#github-icon:hover {
	fill: #24292f;
}

/* LinkedIn & Frontend Mentor */
.icons__img {
	filter: grayscale(100%);
	height: 50px;
	transition: filter 0.2s;
	width: 50px;
}

.icons__img:hover {
	filter: none;
	transition: filter 0.4s;
}

@media (max-width: 580px) {
	.presentation__text-section {
		min-width: 310px;
		width: 95%;
	}

	.presentation__name {
		font-size: 3rem;
		line-height: 3.5rem;
	}

	.presentation__description {
		font-size: 1rem;
	}

	.icons__section {
		width: 60%;
	}

	.presentation__link {
		padding: 15px 40px;
	}
}

@media (max-width: 445px) {
	.presentation__name {
		font-size: 2.5rem;
		line-height: 2.7rem;
	}

	.presentation__description {
		font-size: 0.9rem;
	}

	.icons__section {
		width: 80%;
	}

	.icons__img {
		height: 40px;
		width: 40px;
	}
}

/* contact */
.contact-section {
	min-height: 100vh;
}

.contact__title {
	color: #8194f5;
	font-size: 2rem;
}

.form-area {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 20px;
	box-shadow: 0 10px 10px #00000033;
	width: 420px;
	min-width: 320px;
	padding: 50px;
}

.form {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: space-between;
}

/* inputs*/
.input-area {
	width: 100%;
}

.form__label {
	color: #888;
	display: block;
	text-align: left;
}

.form__input {
	border: 1px solid lightgray;
	border-radius: 4px;
	outline: none;
	padding: 5px 5px;
	width: 100%;
}

.form__input:focus {
	border: 1px solid #41e2ba;
	outline: none;
}

.form__textarea {
	border: 1px solid lightgray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	outline: none;
	padding: 5px 5px;
	resize: none;
	width: 100%;
}

.form__textarea:focus {
	border: 1px solid #41e2ba;
}

.form__msg-status--ok {
	color: #41e2ba;
}

.form__submit {
	border: 2px solid #8194f5;
	border-radius: 50px;
	color: #333;
	font-weight: 700;
	padding: 10px;
	padding: 20px 50px;
}

.form__submit:hover {
	background-color: #8194f5;
	box-shadow: 0 5px 10px 0 #8194f5aa;
	color: white;
}

@media (max-width: 445px) {
	.form-area {
		padding: 30px 40px;
	}

	.form__textarea {
		font-size: 0.8rem;
	}
}

/* landscape */
@media (orientation: landscape) {
	.form-area {
		margin-top: 40px;
		margin-bottom: 15px;
	}
}
